body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
    font-size: 30px;
    margin-top: 60px;
  }
  
  .header {
    text-shadow: 7px 7px 7px grey, 2px 2px 1px white;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 3rem;
    text-align: center;
  }
  
  body.dark {
    /* background-color: rgb(4, 4, 83); */
    background-image: url('blackbackground.jpg');
    color: #f2f3f4;
    /* box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5); */
    /* background-repeat: no-repeat;
    background-size: cover;  */
  }
  
  body.light {
    /* background-color: white; */
    background-image: url('photo-1524055988636-436cfa46e59e\ \(1\).avif');
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh; 
      color: black;
      position:relative;
  }
  
  
  .container {
    text-align: center;
    max-width: 50%;
    position: relative;
  }
  
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  header .header-icons {
    display: flex;
    gap: 5px;
  }
  
  .header-icons button {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: 24px;
    cursor: pointer;
    margin: 2rem;
  }
  
  .settings-label {
    font-size: 24px;
    color: inherit;
    margin-top: 60px;
    margin-left: -90px;
    position: absolute;
  }
  #theme-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
  }
  
  #timer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .circle {
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* /* border-radius: 50%;
    border: 10 px dashed #4dd0e1; */
  }
  
  .progress-ring {
    transform: rotate(-90deg);
    transform-origin: center;
  }
  
  .progress-ring__circle {
    stroke: url(#GradientCircle);
    stroke-width: 20;
    transition: stroke-dashoffset 0.35s ease-out;
    stroke-dasharray: 1188;
    stroke-dashoffset: 0;
  }
  
  #time {
    font-size: 48px;
    position: absolute;
    color: inherit;
  }
  
  .timer-label {
    font-size: 16px;
    color: #4dd0e1;
    text-align: center;
    margin-top: 10px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 5px;
  }
  
  .buttons button {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: 24px;
    cursor: pointer;
  }
  
  .options {
    display: flex;
    gap: 55%;
    margin-right: -20px;
    position: relative;
  }
  
  .options button {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  #settings-button {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: 24px;
    text-align:center;
    cursor: pointer;
    transition: color 0.3s;
    gap: 8px;
  
  }
  
  .options button.active {
    color: lightseagreen;
  }
  
  .options button i {
    font-size: 32px;
    margin-bottom: 5px;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .modal-content {
    background-color: #1e1e1e;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    text-align: left;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #save-settings{
    margin-top: 20px;
    color: blue;
  
  }
  #save-settings:hover{
    color: green;
  }
  #save-settings-active{
    color: green;
  }
  
  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close-button:hover {
    color: #f2f3f4;
  }
  
  .modal h2 {
    font-size: 20px;
    margin-top: 0;
    color: inherit;
  }
  
  .time-settings {
    display: flex;
    gap: 10px;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .time-settings :hover{
    color: darkcyan;
  }
  
  
@media (min-width: 1201px) {
  body {
    font-size: 36px;
  }

  .container {
    max-width: 60%;
  }

  .circle {
    width: 450px;
    height: 450px;
  }

  #time {
    font-size: 54px;
  }

  .options {
    gap: 50%;
  }

  .options button {
    font-size: 28px;
  }

  .options button i {
    font-size: 36px;
  }

  .modal-content {
    width: 50%;
  }
}

/* For screens with a width of 1024px or larger */
@media (min-width: 1024px) {
  body {
    overflow-x: hidden;
  }
}

/* For screens with a width between 1024px and 1280px, and a height up to 800px */
@media (min-width: 1024px) and (max-height: 800px) {
  .container {
    max-width: 80%;
  }

  .circle {
    width: 300px;
    height: 300px;
  }

  #time {
    font-size: 36px;
  }

  .options {
    gap: 20%;
  }

  .options button {
    font-size: 20px;
  }

  .options button i {
    font-size: 24px;
  }

  .modal-content {
    width: 70%;
  }
}